// confcontainers.config
process {
    withName: BUILD_MERYL_DB        { container = 'staphb/meryl:1.4.1' }
    withName: ASSESS_ORIGINAL_QC    { container = 'quay.io/biocontainers/multiqc:1.14--pyhdfd78af_0' }

    // Specific tool containers (Nextflow will auto-pull them)
    cpus   = 8
    memory = 16.GB
    time   = 4.h
}

// add withLabel:
